{% extends 'layout.html' %}
{% block body %}
    {% if 'verify' in session %}
        <div class="columns">
            <div class="column col-12">
                <div class="empty">
                    <div class="empty_icon"><img
                            src="https://imageserver.eveonline.com/Character/{{ session.verify.CharacterID }}_128.jpg"
                            alt="" width="128" height="128" style="border-radius: 64px;"></div>
                    <h4 class="empty-title">You have successfully signed in</h4>
                    <div class="empty-subtitle">
                        <p>Authorized Character: {{ session.character.name }}
                            &lt;{{ session.alliance.ticker }}&gt;
                            &lt;{{ session.corporation.ticker }}&gt;<br>
                    </div>
                    <div class="empty-action">
                        <a class="btn btn-primary" href="{{ url_for('submit') }}">Submit Logo</a>
                        <a href="{{ url_for('logout') }}" class="btn">Logout</a>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <div class="columns">
            <div class="column col-12 text-center">
                <a href="{{ security.get_auth_uri() }}"><img
                        src="{{ url_for('static', filename='images/EVE_SSO_Login_Buttons_Large_White.png') }}"
                        alt="Log in with EVE SSO"></a>
            </div>
        </div>
    {% endif %}
{% endblock %}