{% extends 'layout.html' %}
{% block body %}
    <div class="columns">
        {% for i in submissions %}
            <div class="column col-3">
                <div class="card">
                    <div class="card-image text-center">
                        <img src="{{ url_for('static', filename='submissions/'+i.path) }}" alt="{{ i.path }}"
                             class="img-responsive">
                    </div>
                    <div class="card-header">
                        <h4 class="card-title">by {{ i.character_name }}</h4>
                        <h6 class="card-subtitle"></h6>
                    </div>
                    <div class="card-body">
                        {{ i.details }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}