{% extends 'layout.html' %}
{% block body %}
    <div class="columns">
        <div class="column col-12">
            <div class="empty">
                <div class="empty_icon"><img
                        src="https://imageserver.eveonline.com/Character/{{ session.verify.CharacterID }}_128.jpg"
                        alt="" width="128" height="128" style="border-radius: 64px;"></div>
                <h4 class="empty-title">{{ session.character.name }} </h4>
                <h6 class="empty-subtitle">
                    {{ session.corporation.corporation_name }}
                </h6>
                <div class="empty-action">
                    <a href="{{ url_for('logout') }}" class="btn">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <form action="{{ url_for('submit') }}" method="POST" class="form-horizontal" enctype="multipart/form-data">
        {{ submit_form.hidden_tag() }}
        <div class="form-group{{ " has-error" if submit_form.errors.file }}">
            <div class="col-3">
                {{ submit_form.file.label(class_='form-label') }}
            </div>
            <div class="col-9">
                {{ submit_form.file(class_='form-input', accept=".png,.svg") }}
                {% for e in submit_form.errors.file %}
                    <p class="form-input-hint">{{ e }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-3">
                {{ submit_form.text.label(class_='form-label') }}
            </div>
            <div class="col-9">
                {{ submit_form.text(class_='form-input') }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-3"></div>
            <div class="col-9">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}